# Full tests should have MATLAB on the PATH
sphinx
ghp-import
matplotlib>=1.4.3
nibabel
numpy
scipy
ipython
nbformat
sympy>=0.7.3
texext>=0.3.2
nb2plots>=0.5
sphinxcontrib_bibtex
scikit-image
dipy>=0.11
mako
nipype>=0.12
